<mat-card class="spot">
  <mat-card-header>
    <mat-card-title class="header">
      <mat-chip-list>
        <mat-chip>{{ spot.type }}</mat-chip>
      </mat-chip-list>
      <div class="title">
        <h2>{{ spot.name }}</h2>
        <mat-card-subtitle>{{ spot.location.address }}</mat-card-subtitle>
      </div>
    </mat-card-title>
  </mat-card-header>
  <div mat-card-image>
    <ngu-carousel #carouselRef
      class="mb"
      [inputs]="carouselConfig"
      [dataSource]="spot.media.pictures">
      <ngu-tile NguCarouselItem
        *nguCarouselDef="let picture; let i = index"
        [style.backgroundImage]="'url(' + picture + ')'"
        class="spot-carousel-item">
      </ngu-tile>
      <button mat-icon-button
        NguCarouselPrev
        type="button"
        class="left-arrow"
        [style.opacity]="spot.media.pictures.length >=2 && !carouselRef.isFirst ? 1 : 0">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button mat-icon-button
        NguCarouselNext
        type="button"
        class="right-arrow"
        [style.opacity]="spot.media.pictures.length >=2 && !carouselRef.isLast ? 1 : 0">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </ngu-carousel>
  </div>
  <mat-card-content *ngIf="spot.description">
    <p>{{ spot.description }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="withActions">
    <button mat-raised-button
      [disabled]="!spotsService.likable(spot)"
      (click)="like()"
      color="accent">
      <mat-icon>favorite</mat-icon>
      {{ spot.likes.count }}
    </button>
    <a mat-button
      [routerLink]="['/spots/' + spot.id + '/detail']">
      <mat-icon>details</mat-icon>
      Detail
    </a>
    <button mat-button
      (click)="locate.emit(spot)"
      class="pull-right">
      <mat-icon>my_location</mat-icon>
      Locate
    </button>
  </mat-card-actions>
</mat-card>
