.spot {
  margin: 12px;
}

.spot-carousel-item {
  background-color: #ccc;
  min-height: 300px;
  text-align: center;
  line-height: 300px;
  background-position: 50% 50%;
  background-size: cover;
}
