<mat-card class="spot"
  [id]="'scroll-hook-' + spot.id">
  <mat-card-header>
    <mat-card-title *ngIf="spot.name">{{ spot.name }}</mat-card-title>
    <mat-card-subtitle>{{ spot.location.address }}</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image
    *ngIf="spot.media.pictures.length > 0">
    <ngu-carousel [inputs]="carousel">
      <ngu-tile NguCarouselItem
        *ngFor="let picture of spot.media.pictures"
        [style.backgroundImage]="'url(' + picture + ')'"
        class="spot-carousel-item">
      </ngu-tile>
      <button mat-icon-button
        NguCarouselPrev
        class="left-arrow"
        type="button"
        (click)="onCarouselMove(spot)">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button mat-icon-button
        NguCarouselNext
        class="right-arrow"
        type="button"
        (click)="onCarouselMove(spot)">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </ngu-carousel>
  </div>
  <mat-card-content *ngIf="spot.description">
    <p>{{ spot.description }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="withActions">
    <button mat-raised-button
      [disabled]="spotsService.likable(spot, auth?.user | async)"
      (click)="like()"
      color="accent">
      <mat-icon>favorite</mat-icon>
      {{ spot.likes.count }}
    </button>
    <a mat-button
      [routerLink]="['/spots/' + spot.id + '/detail']">
      Detail
    </a>
    <button mat-button
      (click)="locate.emit(spot)"
      class="pull-right">Locate</button>
  </mat-card-actions>
</mat-card>
