@import '~src/styles/leaflet.scss';

:host {
  display: block;
  height: 100vh;
}

.wrapper {
  overflow-y: auto;
  height: calc(100% - 70px);
  background: #fcfcfc;
}

.card {
  overflow: hidden;

  .description-value {
    font-weight: 900;
    margin-top: 4px;
  }
}

.picture {
  background-position: 50%;
  background-size: cover;
}

.map {
  height: 30vh;
  padding: 0;
  background: #eee;
}
