<div class="wrapper">

  <mat-card class="map">
    <div class="map"
      leaflet
      *ngIf="options"
      [leafletZoom]="zoom"
      [leafletOptions]="options"
      [leafletLayers]="layers"
      [leafletLayersControl]="layersControl"
      (leafletMapReady)="onMapReady($event)">
    </div>
  </mat-card>

  <div class="container mt-4 mb-4"
    *ngIf="spot; else loading"
    @fade>

    <a mat-button
      [routerLink]="['/']">
      <mat-icon class="mr-1">arrow_back</mat-icon>
      Revenir au dashboard
    </a>

    <mat-card class="card mt-3">
      <mat-card-title>
        Description
      </mat-card-title>
      <mat-card-subtitle *ngIf="spot.name">
        <h1>{{ spot?.name }}</h1>
      </mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>location_on</mat-icon>
            <span mat-line>Location</span>
            <address mat-line
              class="description-value">
              {{ spot.location.address }}
            </address>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>outlined_flag</mat-icon>
            <span mat-line>Difficulty</span>
            <span mat-line
              class="description-value">{{ spot.difficulty }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>check_box</mat-icon>
            <span mat-line>Disciplines </span>
            <span mat-line
              class="description-value">{{ spot.disciplines }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>fingerprint</mat-icon>
            <span mat-line>Type</span>
            <span mat-line
              class="description-value">{{ spot.type }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <ng-container *ngIf="spot.indoor; else elseTemplate">
            <mat-list-item>
              <mat-icon mat-list-icon>business</mat-icon>
              <span mat-line>Indoor</span>
            </mat-list-item>
          </ng-container>
          <ng-template #elseTemplate>
            <mat-list-item>
              <mat-icon mat-list-icon>terrain</mat-icon>
              <span mat-line>Outdoor</span>
            </mat-list-item>
          </ng-template>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="card mt-1">
      <mat-card-title>Avis</mat-card-title>
      <mat-card-subtitle>
        Partagez vos impressions
      </mat-card-subtitle>
      <mat-card-content>
        <button mat-raised-button
          [disabled]="!spotsService.likable(spot, auth?.user | async)"
          (click)="spotsService.like(spot)"
          color="accent">
          <mat-icon>favorite</mat-icon>
          {{ spot.likes.count }}
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="card mt-1 pb-0">
      <mat-card-title>
        <h3>Media</h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h1>{{ spot.media.pictures.length }} photos</h1>
      </mat-card-subtitle>
      <mat-grid-list mat-card-image
        class="media-wrapper"
        [cols]="spot.media.pictures.length >= 2 ? 2 : 1"
        [rowHeight]="400">
        <mat-grid-tile class="picture"
          *ngFor="let media of spot.media.pictures"
          [style.backgroundImage]="'url(' + media + ')'">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>

  <ng-template #loading>
    <div class="wrapper pt-5"
      fxLayoutAlign="center top">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
