:host {
  display: block;
  height: 100%;
}

.map {
  height: 100%;
  display: block;
}

.map-wrapper {
  position: relative;
  height: 100%;
}

.click-handler {
  position: absolute;
  width: 50px;
  height: 50px;
}
