<main class="map-wrapper"
  [style.height]="mapHeight + '%'">
  <spt-map #map
    (helpMarkerChanged)="onHelpMarkerChanged($event)"
    (spotClicked)="onSpotClick($event)">
  </spt-map>
  <button mat-mini-fab
    class="expand-btn"
    (click)="toggleExpand()">
    <mat-icon *ngIf="expandMap">keyboard_arrow_up</mat-icon>
    <mat-icon *ngIf="!expandMap">keyboard_arrow_down</mat-icon>
  </button>
</main>
<aside class="map-overview-wrapper">
  <spt-overview #overview
    (removeHelpMarker)="onSpotFormSubmitted($event)"
    (flyTo)="onFlyTo($event)">
  </spt-overview>
</aside>
