@import '~src/variables.scss';

main,
aside {
  height: 100%;
  @media screen and (max-width: $mediaMidWidth) {
    height: 50%;
  }
}

:host {
  display: flex;
  height: 95vh;

  @media screen and (max-width: $mediaMidWidth) {
    flex-direction: column;
  }

  .map-wrapper {
    flex: 2;
  }

  .map-overview-wrapper {
    flex: 1;
    z-index: 1;
  }
}
