html body {
  overflow-y: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

spt-root {
  display: block;
  overflow: hidden;
}

.full-width {
  width: 100%;
}

.p0 {
  padding: 0.8rem 1rem;
}

.pull-right {
  margin-left: auto !important;
}

// Remove bootstrap default link style
a.mat-button {
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}
