::ng-deep {
  .leaflet-popup {
    margin-bottom: 0;

    .leaflet-popup-content-wrapper {
      padding: 6px;
      background-color: rgba(31, 31, 31, 0.85);
      box-shadow: none;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      .address {
        font-weight: 100;
      }
      .description {
        span:first-child {
          font-weight: 800;
        }
      }
      .leaflet-popup-content {
        margin: 0;
      }
    }

    .leaflet-popup-tip-container > div {
      background-color: rgba(31, 31, 31, 0.85);
      box-shadow: none;
      width: 18px;
      height: 18px;
      padding: 1px;
      margin: -15px auto 0;
    }
  }
}
