$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$mediaMaxWidth: map-get($grid-breakpoints, xl);
$mediaMidWidth: map-get($grid-breakpoints, md);
$mediaMinWidth: map-get($grid-breakpoints, sm);

$map-tooltip-bg: rgba(31, 31, 31, 0.85);
