:host {
  display: block;
}

.group {
  height: 100%;
}

.mt {
  margin-top: 12px;
}

.mb {
  margin-bottom: 1.25em;
}

.pb {
  padding-bottom: 1.25em;
}

.mr {
  margin-right: 12px;
}

.location-card {
  margin-top: 12px;
}

.help-card {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.pictures {
  display: inline-block;
  margin: 6px;

  img {
    max-width: 80px;
    max-height: 80px;
  }
}

.radio {
  display: block;
  margin-top: 6px;
}

.spot-carousel-item {
  background-color: #ccc;
  min-height: 300px;
  text-align: center;
  line-height: 300px;
  background-position: 50% 50%;
  background-size: cover;
}

.arrow {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;

  .mat-icon {
    margin-right: 0 !important;
  }
}

.left-arrow {
  @extend .arrow;
  left: 2%;
}

.right-arrow {
  @extend .arrow;
  right: 2%;
}

.steps .mat-icon {
  margin-right: 12px;
}

.scrollable {
  height: calc(100vh - 118px);
}

.last-step .mat-vertical-content {
  padding: 0;
}
