<div fxLayout="row"
  fxLayoutAlign="center top"
  class="wrapper">
  <form novalidate
    *ngIf="profileForm"
    [formGroup]="profileForm"
    (submit)="updateProfile()">
    <mat-card class="card">
      <mat-card-title>
        <h1>Profile</h1>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="input-full-width">
          <input matInput
            autofocus
            placeholder="{{ 'user.register.name' | translate }}"
            type="text"
            [formControl]="name">
          <mat-error *ngIf="name.hasError('minlength')">
            {{ 'form.validation.minLength' | translate }}
          </mat-error>
          <mat-error *ngIf="name.hasError('required') && !name.hasError('minlength')">
            {{ 'form.validation.required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <input matInput
            placeholder="Email"
            type="email"
            [formControl]="email">
          <mat-error *ngIf="email.hasError('email')">
            {{ 'form.validation.email' | translate }}
          </mat-error>
          <mat-error *ngIf="email.hasError('required') && !email.hasError('email')">
            {{ 'form.validation.required' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!profileForm.valid || !profileForm.dirty">
          Update
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <form novalidate
    *ngIf="passwordForm"
    [formGroup]="passwordForm"
    (submit)="updatePassword()">
    <mat-card class="card">
      <mat-card-title>
        <h3>Credentials</h3>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="input-full-width">
          <input matInput
            placeholder="{{ 'user.register.password' | translate }}"
            type="password"
            [formControl]="password">
          <mat-error *ngIf="password.hasError('minlength')">
            {{ 'form.validation.minLength' | translate }}
          </mat-error>
          <mat-error *ngIf="password.hasError('required') && !password.hasError('minlength')">
            {{ 'form.validation.required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <input matInput
            placeholder="{{ 'user.confirmPassword' | translate }}"
            type="password"
            [formControl]="confirmPassword">
          <mat-error *ngIf="confirmPassword.hasError('matchPassword')">
            {{ 'form.validation.same' | translate }}
          </mat-error>
          <mat-error *ngIf="confirmPassword.hasError('required') && !confirmPassword.hasError('matchPassword')">
            {{ 'form.validation.required' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!passwordForm.valid || !passwordForm.dirty">
          Update
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
