<!-- <mat-spinner></mat-spinner> -->

<div class="map"
  leaflet
  [leafletZoom]="zoom"
  [leafletOptions]="options"
  [leafletLayers]="layers"
  (contextmenu)="onMapClick($event)"
  (leafletMapReady)="onMapReady($event)">
  <div class="click-handler"
    [matMenuTriggerFor]="appMenu"
    [style.top]="mouseY + 'px'"
    [style.left]="mouseX + 'px'">
  </div>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item
    (click)="addSpot()">
    <mat-icon>add_location</mat-icon> {{ 'map.addSpotBtn' | translate }}
  </button>
</mat-menu>
