@import '~src/variables.scss';
@import '~src/theme.scss';
main {
  height: 100vh;
  z-index: -1;
  > *:not(router-outlet) {
    display: block;
    height: 100%;
  }
}

.progress-bar {
  display: flex;
  align-content: center;
  align-items: center;
  height: 5px;
}

#app-footer {
  padding: 14px 16px;
}

.brand {
  font-size: 130%;
  font-weight: 900;
  text-decoration: none;
  color: $primary;
}

.pull-right {
  > button {
    margin-right: 12px;
  }
}

.toolbar {
  z-index: 2;
}
