<mat-toolbar>
  <a [routerLink]=" ['./'] "
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    Spotted
  </a>
  <a mat-button
    [routerLink]=" ['./home'] "
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    Home
  </a>
  <a mat-button
    [routerLink]=" ['./detail'] "
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    Detail
  </a>
  <a mat-button
    [routerLink]=" ['./barrel'] "
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    Barrel
  </a>
  <a mat-button
    [routerLink]=" ['./about'] "
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    About
  </a>
  <a mat-button
    *ngIf="showDevModule"
    [routerLink]=" ['./dev-module'] "
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    DevModule
  </a>
</mat-toolbar>

<mat-spinner *ngIf="loading"></mat-spinner>

<main [hidden]="loading">
  <router-outlet></router-outlet>
</main>

<footer id="app-footer">
  <span>Spotted by
    <a [href]="twitter">@edouardbozon</a>
  </span>
</footer>
