<div>
  <div class="toolbar">
    <mat-toolbar>
      <a class="brand"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <h1 *ngIf="auth.authenticated else showName"
          class="profile">
          <img [src]="auth.user.photoURL"
            class="avatar">
          <span>{{ auth.user.displayName }}</span>
        </h1>
        <ng-template #showName>Spotted</ng-template>
      </a>
      <div class="pull-right">
        <button mat-icon-button
          class="account"
          *ngIf="auth.user; else connectBtn"
          color="primary"
          [routerLink]="['/user/profile']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>account_circle</mat-icon>
        </button>
        <ng-template #connectBtn>
          <span class="mr-3">
            <a mat-stroked-button
              [routerLink]="['./user/login']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <mat-icon>account_circle</mat-icon> {{ 'connection' | translate }}
            </a>
            <span class="mr-2 ml-2">{{ 'or' | translate }}</span>
            <a mat-stroked-button
              [routerLink]="['./user/register']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <mat-icon>add_circle_outline</mat-icon> {{ 'register' | translate }}
            </a>
          </span>
        </ng-template>
        <button mat-icon-button
          [matMenuTriggerFor]="matmenu">
          <mat-icon>public</mat-icon>
        </button>
        <mat-menu #matmenu="matMenu">
          <button mat-menu-item
            (click)="changeLanguage('en')">
            <mat-icon>flag</mat-icon>
            <span>English</span>
          </button>
          <button mat-menu-item
            (click)="changeLanguage('fr')">
            <mat-icon>flag</mat-icon>
            <span>Français</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <section class="progress-bar">
      <mat-progress-bar [color]="'primary'"
        [mode]="progressBarMode"></mat-progress-bar>
    </section>
  </div>

  <router-outlet></router-outlet>
</div>
