<div>
  <div class="toolbar mat-elevation-z4">
    <mat-toolbar>
      <a class="brand"
        [routerLink]=" ['./'] "
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        spotted
      </a>

      <div class="pull-right">
        <a mat-stroked-button
          [routerLink]=" ['./user/login'] "
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>account_circle</mat-icon> {{ 'connection' | translate }}
        </a>
        <button mat-icon-button
          [matMenuTriggerFor]="matmenu">
          <mat-icon>public</mat-icon>
        </button>
        <mat-menu #matmenu="matMenu">
          <button mat-menu-item
            (click)="changeLanguage('en')">
            <mat-icon>flag</mat-icon>
            <span>English</span>
          </button>
          <button mat-menu-item
            (click)="changeLanguage('fr')">
            <mat-icon>flag</mat-icon>
            <span>Français</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <section class="progress-bar">
      <mat-progress-bar [color]="'primary'"
        [mode]="progressBarMode"></mat-progress-bar>
    </section>
  </div>

  <router-outlet></router-outlet>
</div>
