.wrapper {
  background: #303f9f;
  height: 100vh;
  padding-top: 2%;
}

.login {
  max-width: 400px;
  margin: 0 auto;
}

.image {
  height: 180px;
  background-position: 50% 50%;
  background-size: cover;
}

.mat-card-actions {
  overflow: hidden;
}

.input-full-width {
  width: 100%;
}
