:host {
  background: #000;

  display: flex;
  align-items: center;
}

.gif {
  background: no-repeat
    url('https://media.giphy.com/media/3oriO3TIAR3cnAOcTK/giphy.gif');
  height: 50%;
  background-size: cover;
  background-position: 50% 50%;
  padding: 10% 0;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    text-align: center;
    color: #fff;
    h1 {
      font-size: 6rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
