<mat-tab-group [(selectedIndex)]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>

      <mat-icon>location_on</mat-icon>
      {{ 'overview.spotsAround' | translate }}
    </ng-template>
    <mat-list dense>
      <mat-list-item *ngFor="let spot of spotsService.spots | async; trackBy: trackByFn">
        {{ spot.name }} {{ spot.location.latitude }} {{ spot.location.longitude }}
        <button class="pull-right"
          type="button"
          mat-button>
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>add_location</mat-icon>
      {{ 'overview.addSpot' | translate }}
    </ng-template>
    <section class="p0">
      <form [formGroup]="spotForm"
        (submit)="createSpot()"
        novalidate>
        <mat-card>
          <mat-card-content class="help-card">
            <mat-icon>help</mat-icon> {{ 'overview.help' | translate }}
          </mat-card-content>
        </mat-card>
        <mat-vertical-stepper #stepper>
          <mat-step>
            <ng-template matStepLabel>{{ 'overview.stepper.description' | translate }}</ng-template>
            <mat-form-field class="full-width">
              <input matInput
                type="text"
                placeholder="{{ 'overview.addSpotForm.name' | translate }}"
                formControlName="name">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput
                type="text"
                placeholder="{{ 'overview.addSpotForm.difficulty' | translate }}"
                formControlName="difficulty">
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-select multiple
                placeholder="Disciplines"
                formControlName="disciplines">
                <mat-option *ngFor="let discipline of disciplines"
                  [value]="discipline">
                  {{ discipline }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-select placeholder="Type"
                formControlName="type">
                <mat-option *ngFor="let type of types"
                  [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{ 'overview.stepper.media' | translate }}</ng-template>
            <div class="pictures"
              *ngFor="let picture of pictures">
              <img [src]="picture">
            </div>
            <div>
              <button (click)="fileInput.click()"
                mat-raised-button>
                <mat-icon>photo</mat-icon>
                <span>{{ 'overview.stepper.mediaBtn' | translate }}</span>
                <input #fileInput
                  accept=".png,.jpg"
                  type="file"
                  (change)="onFileAdded($event)"
                  class="hidden" />
              </button>
            </div>
          </mat-step>
          <mat-step [stepControl]="location">
            <ng-template matStepLabel>{{ 'overview.stepper.location' | translate }}</ng-template>
            <div [formGroup]="location">
              <mat-form-field class="full-width">
                <input matInput
                  type="address"
                  placeholder="{{ 'overview.addSpotForm.address' | translate }}"
                  formControlName="address">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput
                  type="text"
                  placeholder="{{ 'overview.addSpotForm.country' | translate }}"
                  formControlName="country">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput
                  type="text"
                  placeholder="{{ 'overview.addSpotForm.city' | translate }}"
                  formControlName="city">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput
                  type="number"
                  placeholder="{{ 'overview.addSpotForm.postalCode' | translate }}"
                  formControlName="postalCode">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput
                  type="number"
                  placeholder="{{ 'overview.addSpotForm.latitude' | translate }}"
                  formControlName="latitude">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput
                  type="number"
                  placeholder="{{ 'overview.addSpotForm.longitude' | translate }}"
                  formControlName="longitude">
              </mat-form-field>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{ 'overview.stepper.done' | translate }}</ng-template>
            <button mat-button
              type="button"
              (click)="reset()">
              {{ 'overview.addSpotForm.reset' | translate }}
            </button>
            <button mat-raised-button
              [disabled]="!valid"
              color="primary"
              type="submit">
              {{ 'overview.addSpotForm.submit' | translate }}
            </button>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </section>
  </mat-tab>
</mat-tab-group>
