:host {
  display: block;
  height: 100vh;
}

.card {
  margin: 8px;
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
}

.description-value {
  font-weight: 900;
}

.picture {
  background-position: 50%;
  background-size: cover;
}
