:host {
  display: block;
  height: 100%;
}

.map {
  height: 100%;
  display: block;
}

.map-wrapper {
  position: relative;
  height: 100%;
}

.click-handler {
  position: absolute;
  width: 50px;
  height: 50px;
}

::ng-deep {
  .leaflet-popup {
    margin-bottom: 0;

    .leaflet-popup-content-wrapper {
      padding: 6px;
      background-color: #1f1f1fe0;
      box-shadow: none;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      .address {
        font-weight: 100;
      }
      .description {
        span:first-child {
          font-weight: 800;
        }
      }
      .leaflet-popup-content {
        margin: 0;
      }
    }

    .leaflet-popup-tip-container > div {
      background-color: #1f1f1fe0;
      box-shadow: none;
      width: 18px;
      height: 18px;
      padding: 1px;
      margin: -15px auto 0;
    }
  }
}
