<div class="map-wrapper">
  <div class="map"
    leaflet
    [leafletZoom]="zoom"
    [leafletOptions]="options"
    [leafletLayers]="layers"
    [leafletLayersControl]="layersControl"
    (contextmenu)="onMapContextClick($event)"
    (leafletMapReady)="onMapReady($event)"
    (click)="mapInteracted.emit($event)">
  </div>
  <div class="click-handler"
    [matMenuTriggerFor]="appMenu"
    [style.top]="mouseY + 'px'"
    [style.left]="mouseX + 'px'">
  </div>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item
    (click)="addHelpMarker()">
    <mat-icon>add_location</mat-icon> {{ 'map.addSpotBtn' | translate }}
  </button>
</mat-menu>
